body{
    margin:0;
    background-color: #f7e7c47d;
    font-family: 'Vollkorn', serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}


h2{
    color: #018073;
    margin-bottom: -10px;
    margin-top: 10px;
}



